# Node dependencies
node_modules/

# Build output
dist/

# Environment variables
.env

# Prisma generated client
/src/generated/prisma

# Optional: logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: VSCode settings
.vscode/

echo ".env.production" >> .gitignore

git rm --cached .env.production
.env.production
